body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #10ac84;
}

nav {
  background: #2ecc71;
  text-align: center;
  height: 80px;
  transform: translate(0, -40%);
}

nav h1 {
  color: #ffffff;
  transform: translate(0, 60%);
  font-size: 32px;
}
.box {
  width: 90%;
  padding: 25px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  background: none;
  text-align: center;
  /* border: 2px solid #3498db; */
  border-radius: 10px;
}

.box textarea {
  border: 2px solid #2ecc71;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  padding: 14px 10px;
  width: 50%;
  outline: none;
  color: white;
  border-radius: 10px;
  transition: 0.25s;
  color: white;
  max-height: 500px;
  resize: none;
  max-height: 300px;
}

.box textarea:focus {
  width: 75%;
  border-color: #2ecc71;
}

.box input[type="submit"] {
  border: 2px solid #2ecc71;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.box input[type="submit"]:hover {
  background: #2ecc71;
}

.box h3 {
  color: white;
  font-weight: 500;
}

::placeholder {
  color: #c8d6e5;
}

/**/
.noscroll {
  overflow: hidden;
  resize: none;
}
.hiddendiv {
  display: none;
  white-space: pre-wrap;
  width: 500px;
  min-height: 50px;
  font-family: Arial, sans-serif;
  font-size: 13px;
  padding: 5px;
  word-wrap: break-word;
}
.lbr {
  line-height: 3px;
}
